*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
h1{
  padding: 10px;
  background-color: black;
  color: white;
}
.container{
  margin: 0 auto;
  padding: 50%;
  width: 90%;
  font-size: 40px;
  background-color: yellow;
}
/* @media (max-width:1400px){
h1{
  background-color: red;
  color: black;
}
}
@media screen and (max-width:1400px){
  .container{
    padding: 10%;
  width: 50%;
  font-size: 30px;
  background-color: yellow;
  }
}
@media(max-width:600px){
  h1{
    background-color: aqua;
  }
  .container{
  padding: 20px;
  width: 90%;
  border-radius: 20px;
}
} */
@media(min-width:1080px){
  h1{
    padding: 100px;
    margin: 0 0 20px 0;
    background-color: black;
  }
  .container{
    padding: 60px;
    width: 1000px;
    border-radius: 60px;
  }
}